/* botones */
.btn {
  border: none;
  padding: 7px;
  border-radius: 4px
}

.disabled {
  background-color: #E2EDF2;
  color: #D1CEC5;
}

.enabled {
  background-color : #4DC5EE;
  color: #FFFFFF;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
  padding-right: 7px;
  padding-left: 7px;
}
