@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family: 'Montserrat', sans-serif;
}

section, form, input, article {
  border: 1px solid #43CFB9;
  padding: 14px;
  border-radius: 4px;
}

input {
  outline: none;
}

/* botones */
.btn {
  border: 1px solid #43CFB9;
  padding: 7px;
  border-radius: 4px;
}

.disabled {
  background-color: #FFFFFF;
  color: #43CFB9;
}

.enabled {
  background-color : #43CFB9;
  color: #FFFFFF;
  font-weight: bold;
}

ul {
  list-style: none;
}

ul li {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  padding-right: 7px;
  padding-left: 7px;
}
